body {
    background-color: #32746D;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

nav {
    background-color: #1F4743;
    color: white;
}

.brand-logo {
    color: white;
    margin-left: 10px;
}

.mobile-menu {
    margin-right: 15px;
}

.footer-copyright {
    background-color: #1F4743;
    color: white;
}

.social {
    color: white;
    padding-right: 15px;
    padding-top: 20px;
}


.recipe {
    color: white;
    text-align: center;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
    color: white;
    text-align: center;
}
.pagination-page-info b {
    color: white;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.pagination-container {
    text-align: center;
    color: black;
}

  

.flashes h4{
    background-color: #FAF9F6;
    color: red;
    line-height: 2;
}

.card-image {
    height: 300px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .collapsible:hover {
    background-color: #104F55;
    color: white;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding-top: 10px;
    padding-left: 10px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 10px;
  }
  
  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  li.ingredients-list {
    padding-left: 20px;
  }
  
