body {
    background-color: #32746D;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

nav {
    background-color: #1F4743;
    color: white;
}

.brand-logo {
    color: white;
    margin-left: 10px;
}

.mobile-menu {
    margin-right: 15px;
}

.footer-copyright {
    background-color: #1F4743;
    color: white;
}

.social {
    color: white;
    padding-right: 15px;
    padding-top: 20px;
}


.recipe {
    color: white;
    text-align: center;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
    color: white;
    text-align: center;
}
.pagination-page-info b {
    color: white;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.pagination-container {
    text-align: center;
    color: black;
}

.flashes h4{
    background-color: #FAF9F6;
    color: red;
    line-height: 2;
}

.card-image {
    height: 300px;
}