{% extends "base.html" %}
{% block content %}

<h3 class="recipe">Recipe Collection</h3>

<div class="container">

<div class="row">
    {% for recipes in recipes %}
        <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
            <img src={{ recipes.image}}>
            <span class="card-title white-text teal darken-3 ">{{ recipes.recipe_name }}</span>
            </div>
            <div class="card-content">
            <p>Cooking Time: {{ recipes.cooking_time }}</p>
                <p>Serves: {{ recipes.serves }}</p>
            </div>
            <div class="card-action">
            <a href="#">See full recipe:</a>
            </div>
        </div>
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}